@font-face {
      font-family: 'fontello';
      src: url('../fonts/fontello.eot?52782488');
      src: url('../fonts/fontello.eot?52782488#iefix') format('embedded-opentype'),
           url('../fonts/fontello.woff?52782488') format('woff'),
           url('../fonts/fontello.ttf?52782488') format('truetype'),
           url('../fonts/fontello.svg?52782488#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
    }
.fb-input-field > label {
    display: block;
    margin-top: 6px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 700;
}
.fb-fieldset fieldset {
    padding: 10px;
    border: 1px solid #ccc !important;
    background: #fff;
}
.fb-fieldset legend {
    font-size: 14px;
}
.fb-row {
    margin-bottom: 20px;
}
.fb-row:before {
    display: table;
    content: " ";
}
.fb-row:after {
    clear: both;
    display: table;
    content: " ";
}
.fb-input-wrapper1 {
    display: table;
    width: 100%;
}
.fb-input1 {
    width: 100%;
}
.fb-input1, .fb-input2 {
    display: table-cell;
}
.fb-input1 > input {
    width: 100%;
}
.fb-input2 > input {
    width: 80px;
    margin-left: 10px;
}
.fb-half-left, .fb-half-right {
    width: 48%;
    float: left;    
}
.fb-half-left {
    margin-right: 2%;
}
.fb-half-right {
    margin-left: 2%;
}
.fb-icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;    
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
}
.icon-minus-squared:before {
  content: '\e800';
}
.icon-resize-vertical:before {
  content: '\e801';
}
.icon-plus-squared:before {
  content: '\e806';
}
.icon-search:before {
  content: '\e807';
}
.fb-choices-box {
    margin-bottom: 5px;
}
.fb-wrap a {
    text-decoration: none;
}
.fb-correct {
    float: right;
}
input.fb-correct-choice {
    float: right;
    margin-right: 15px;
    margin-top: 2px;
}
.fb-choice {
    margin-bottom: 10px;
}
.ui-sortable-handle, .fb-move {
    cursor: move;
}
#fb-major-publishing-actions {
    padding: 10px;
    clear: both;
    border-top: 1px solid #ddd;
    background: #f5f5f5;
    overflow: hidden;
}
.fb-wrap .button.button-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    -webkit-box-shadow: inset 0 1px 0 #FFA5A5,0 1px 0 rgba(0,0,0,.08); 
    box-shadow: inset 0 1px 0 #FFA5A5,0 1px 0 rgba(0,0,0,.08);
}
.fb-wrap .button.button-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.fb-wrap .button.button-danger:active {
    color: #fff;
    background-color: #000;
    border-color: #ac2925;
}
.fb-wrap .button:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.fb-wrap .button.button-danger:focus {
    color: #fff;
    background-color: #c9302c;
    border-color: #761c19;
}
.fb-submitbox {
    margin-bottom: 10px;
}
.fb-submitbox .button {
    margin-left: 5px;
}
.fb-submitbox #post-status-display {
    vertical-align: bottom;
}
.fb-wrap .form-table {    
    margin-top: 20px;
    width: auto;
}
.fb-wrap .form-table td {
    padding: 8px 5px;
}
.fb-wrap .fb-table2 {
    width: 100%;
}
.fb-table2 td:nth-of-type(1) {
    width: 135px;
}
.fb-table1 td:nth-of-type(1) {
    width: 100px;
}
#fb-point {
    width: 80px;
}
.fb-label1 {
    padding: 8px 12px;
    margin: 0;
    line-height: 1.4;
    width: 100%;
    display: block;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}
.fb-wrap .postbox .inside {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.fb-wrap #fb-category-add-toggle {
    text-decoration: none;
}
.fb-wrap #fb-newcategory {
    margin: 0 0 1em;
}    
.fb-wrap #category-add {
    margin: 1em 0;
}
.blockUI.blockOverlay:before {
    height: 11px;
    width: 43px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -21px;
    margin-top: -5px;
    display: block;
    -webkit-animation: spin 1s ease-in-out infinite;
    -moz-animation: spin 1s ease-in-out infinite;
    animation: spin 1s ease-in-out infinite;
    content: "";
    background: url(../images/ajax-loader.gif) center center;
    background-size: cover;
    line-height: 1;
    text-align: center;
    font-size: 2em;
    color: rgba(0,0,0,.75);
}
.fb-body {
    overflow: hidden;
}
#column-number-of-choices {
    width: 17%;
}
#column-connected-to {
    width: 12%;
}
#column-question-id {
    width: 10%;
}
#column-author-name {
    width: 12%;
}
#column-question-title {
    width: 18%;
}
#column-points {
    width: 8%;
}
#column-created-at, #column-updated-at {
    width: 10%;
}
#column-categories {
    width: 10%;
}
#questions-table {
    width: 100% !important;
}
table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #e1e1e1;
}
table.dataTable.no-footer {
    border-bottom: none;
}
.fb-fullwidth {
    width: 100%;
}
.fb-inline {
    display: inline-block !important;
}
.fb-datatable td {
    padding: 0px !important;
}
.fb-datatable-wrapper .dataTables_length {
    display: none;
}
.fb-datatable-wrapper .dataTables_filter {
    float: left;
}
.fb-datatable-wrapper .dataTables_filter input {
    margin-left: 0px;
    padding-left: 0px;
}
.fb-datatable-wrapper .dataTables_wrapper .sorting_disabled {
    padding: 0px;
    border: none;
    padding-bottom: 8px;
}
.fb-datatable-wrapper .dataTables_wrapper .paginate_button {
    padding: 2px 6px;
    background: #fafafa;
    color: #666;
    border: 1px solid #ddd;
    margin: 0px;
    border-radius: 0px;
    border-right: none;
}
.fb-datatable-wrapper .dataTables_wrapper .paginate_button.next,
.fb-datatable-wrapper .dataTables_wrapper .paginate_button.next:hover {
    border-right: 1px solid #ddd;
}
.fb-datatable-wrapper .dataTables_wrapper .paginate_button.disabled,
.fb-datatable-wrapper .dataTables_wrapper .paginate_button.disabled:hover {
    color: #ccc !important;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
.fb-datatable-wrapper .dataTables_wrapper .paginate_button.current,
.fb-datatable-wrapper .dataTables_wrapper .paginate_button.current:hover {
    cursor: default;
    background: #337ab7;
    border-color: #337ab7;
    color: #fff !important;
}
.fb-datatable-wrapper .dataTables_wrapper .paginate_button:hover {        
    color: #23527c !important;
    background: #eee;
    border-color: #ddd;
    border-right: none;
}
.fb-datatable-wrapper .dataTables_filter input {
    border-left: 0px;
}
.fb-datatable-wrapper .dataTables_filter input:focus {
    box-shadow: none;
    border-color: #ccc;
}
.fb-datatable-wrapper .dataTables_filter .icon-search {
    height: 25px;
    width: 25px;
    vertical-align: top;
    margin: 1px 0px;    
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    border: 1px solid #ddd;
    border-right: 0px;
    font-size: 16px;
    color: #999;
    line-height: 25px;
}
#fb-passing-percentage {
    width: 40px;
}
.fb-quiz-checkboxes label {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}
#fb-questions-box {
    max-width: 850px;
}



@media (max-width: 782px) {
    .fb-quiz-checkboxes td {
        width: 100% !important;
    }    
}
@media (max-width: 680px) {
    .fb-half-left, .fb-half-right {
        width: 100%;
        margin: 0px;        
    }    
}