ul.fb_question_content {
    list-style-type: none;
}
ul.fb_question_content li {
    margin-left: 20px;
}
ul.fb_question_content li > label {    
    margin: 2px 0px 4px 0px;
    display: block;    
    overflow: hidden;
}
.fb_choice_wrapper {
    float: left;
    width: 22px;
    padding-top: 2px;
    position: relative;
} 
.fb_choice_wrapper > input {
    margin-top: 2px;
}
.fb_wrap a {
    text-decoration: none;
    border: none !important;
}
.fb-move {
    cursor: move;
}
.fb_choice_wrapper .fb-icon {
    margin-left: 0px;
}
.single-quiz .entry-title {
    display: none;
}
.fb_wrap button, .fb_wrap input[type="button"], .fb_wrap input[type="reset"], .fb_wrap input[type="submit"] {
    text-transform: none;
}
.blockUI.blockOverlay:before {
    height: 11px;
    width: 43px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -21px;
    margin-top: -5px;
    display: block;
    -webkit-animation: spin 1s ease-in-out infinite;
    -moz-animation: spin 1s ease-in-out infinite;
    animation: spin 1s ease-in-out infinite;
    content: "";
    background: url(../images/ajax-loader.gif) center center;
    background-size: cover;
    line-height: 1;
    text-align: center;
    font-size: 2em;
    color: rgba(0,0,0,.75);
}
#fb_take_quiz_again {
    float: left;
}
#fb_back {
    float: right;
}
.fb_result_status {
    width: 80px;
    float: left;
}
.fb_result_content {
    float: none;    
    width: auto;
    overflow: hidden;
}
.fb_explanation {
    clear: both;
}
.fb_explanation fieldset {
    padding: 10px;
    border: 1px solid #ccc !important;
    background: #fff;
}
.fb_explanation legend {
    font-size: inherit;
}
.fb_explanation p {
    margin-bottom: 0px;
}
.fb_answers ul {
    margin-bottom: 10px;
    margin-left: 28px;
}
.single-result .fb_wrap > .fb_row {
    margin-bottom: 20px;
}
.fb_quiz_footer {
    padding-top: 30px;
}
.fb_student_answers {
    width: 48%;
    display: inline-block;
    padding-right: 2%;
    float: left;
}
.fb_correct_answers {
    width: 48%;
    display: inline-block;
    padding-right: 2%;
}
