ul.fb_question_content {
    list-style-type: none;
}
ul.fb_question_content li, .fb_answers {
    margin-left: 20px;
}
ul.fb_question_content li > label {    
    margin: 2px 0px 4px 0px;
    display: block;    
    overflow: hidden;
}
.fb_choice_wrapper {
    padding-top: 2px;
    position: relative;
}
.checkbox input[type="checkbox"], .radio input[type="radio"] {
    opacity: 0;
}
.radio label:before {    
    width: 28px;
    height: 28px;
    position: absolute;
    top: 0px;
    left: 0px;
    content: '';
    display: inline-block;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 1px solid #BDD0E3;
    background: #fff;
}
.checkbox label:before {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 0px;
    left: 0;
    content: '';
    display: inline-block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #BDD0E3;
    background: #fff;
}
.radio input[type="radio"]:checked + label::after {    
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    display: inline-block;
    font-size: 11px;
    width: 20px;
    height: 20px;
    background-color: #5b9ac6;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.checkbox input[type="checkbox"]:checked + label:after {
    font-family: "fontello";
    content: '\E809';
    position: absolute;
    top: 0px;
    left: 3px;
    display: inline-block;
    width: 28px;
    height: 28px;
    font-size: 22px;
    line-height: 28px;
}
.radio input[type="radio"]:checked + label:before,
.checkbox input[type="checkbox"]:checked + label:before {
    border-color: #5b9ac6;
}
.radio input[type="radio"]:checked + label,
.checkbox input[type="checkbox"]:checked + label {
    color: #5b9ac6;    
}
.radio input[type="radio"] + label, .checkbox input[type="checkbox"] + label {    
    padding-left: 38px; 
    margin-left: -15px;   
    cursor: pointer;
    position: relative;
}
.fb_wrap a {
    text-decoration: none;
    border: none;
}
.entry-content .fb_wrap a {
    border: none;
}
.fb-move {
    cursor: move;
}
.fb_choice_wrapper .fb-icon {
    margin-left: 0px;
    font-size: 24px;
}
.single-quiz .entry-title {
    display: none;
}
.fb_wrap button, .fb_wrap input[type="button"], .fb_wrap input[type="reset"], .fb_wrap input[type="submit"] {
    text-transform: none;
}
.blockUI.blockOverlay:before {
    height: 11px;
    width: 43px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -21px;
    margin-top: -5px;
    display: block;
    -webkit-animation: spin 1s ease-in-out infinite;
    -moz-animation: spin 1s ease-in-out infinite;
    animation: spin 1s ease-in-out infinite;
    content: "";
    background: url(../images/ajax-loader.gif) center center;
    background-size: cover;
    line-height: 1;
    text-align: center;
    font-size: 2em;
    color: rgba(0,0,0,.75);
}
#fb_take_quiz_again {
    float: left;
}
#fb_back {
    /* float: right; */
}
.fb_result_status {
    width: 80px;
    float: left;
}
.fb_result_content {
    float: none;    
    width: auto;
    overflow: hidden;
}
.fb_explanation fieldset {
    padding: 10px;
    border: 1px solid #E8E2E2 !important;
    background: #fff;
}
.fb_explanation legend {
    font-size: inherit;
}
.fb_explanation p {
    margin-bottom: 0px;
}
.fb_answers ul {
    list-style: none;    
    margin: 0px;
}
.fb_answers ul > li, .fb_question_wrap ul > li {
    margin-bottom: 8px;
    padding: 5px 10px;
    border-radius: 1px;
}
.fb_student_answers ul > li,
.fb_question_wrap ul > li {
    background-color: #DEE8F2;
    border: 1px solid #C5CED7;    
}
.fb_correct_answers ul > li {
    background-color: #ACECBA;
    border: 1px solid #9BC8A7;        
}
.single-result .fb_wrap > .fb_row {
    margin-bottom: 20px;
}
.fb_quiz_footer {
    padding-top: 30px;
}
.fb_student_answers {
    margin-bottom: 10px;
}
.fb_correct_answers {
    margin-bottom: 10px;
}
.fb_wrap.multiple .fb_quiz_left {
    min-width: 80px;
    width: 20%;
    float: left;
    padding: 5px 20px 0px 0px;
}
.fb_wrap.multiple .fb_quiz_right {
    width: auto;
    float: none;
    overflow: hidden;
    padding-left: 20px;    
}
.fb_wrap .fb_quiz_nav {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid #37a000 !important;
}
.fb_wrap .fb_noskip {
    cursor: default !important;
}
.fb_wrap .fb_noskip:not(.fb_active):hover {
    background: inherit;
    color: inherit;    
}
.fb_wrap .fb_quiz_nav:hover, .fb_wrap .fb_quiz_nav.fb_active {
    color: #fff;
    background: #37a000;
    cursor: pointer;
}
.fb_button {
    color: #fff;
    background: #37a000;
    cursor: pointer;
}
.fb_link {
    cursor: pointer;
    color: #37a000;
    text-decoration: none;
}
.fb_link:hover {
    color: #008329;
}
#column-quiz-id {
    width: 40px;
}
#column-quiz-attempts {
    width: 120px;
}
#column-quiz-action {
    width: 160px;
}
table th {
    vertical-align: middle;
}
.fb_quiz_footer {
    text-align: right;
}
.fb_none_selected {
    padding-left: 8px;
}
.single.fb_quiz .fb_row .fb_answer_button_wrap {
    margin-bottom: 20px;    
    display: none;
}
.single.fb_quiz .fb_row.sorting .fb_answer_button_wrap {
    display: block;
}
.fb_quiz > .fb_row {
    margin-bottom: 30px;
}
.fb_answer_button  {
    float: right;
}
.fade.ng-hide {
    opacity:0;
}
.fade.ng-hide-remove {
    transition: all linear 200ms;
}
.fade.ng-hide-add {
    transition: all linear 0ms;
}
.fade.ng-enter {
    transition: all linear 200ms;
}
.fade.ng-leave {
    transition: all linear 0ms;
}
.fade.ng-enter,
.fade.ng-leave.ng-leave-active {
    opacity:0;
}
.fade.ng-leave,
.fade.ng-enter.ng-enter-active {
    opacity:1;
}
.fb_answered {
    background: #2B6B0A;
    color: #fff;
}
.fb_result {
    margin-bottom: 20px;
    text-align: center;
}
.fb_status {
    
}
.fb_status.passed, .fb_correct {
    color: #37a000;
}
.fb_status.failed, .fb_incorrect {
    color: #FF001A;
}
.fb_incorrect > .points {
    text-decoration: line-through;
}
.fb_question_title {
    margin-bottom: 10px;
}
.fb_explanation {
    margin-bottom: 10px;
    margin-left: 20px;
    clear: both;
}
.fb_answers label {
    color: #999;
    margin-bottom: 5px;
    display: block;
}
.fb_timer {
    text-align: right;
}
.fb_points, .fb_correct, .fb_incorrect {
    font-size: smaller;    
    padding-left: 5px;
}
.fb_points {
    color: #999;
}
.fb_quiz_buttons {
    display: none;
}